:9090 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / prometheus:9090 {
            transparent
        }

    errors stderr
    tls off
}

:9093 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / alertmanager:9093 {
            transparent
        }

    errors stderr
    tls off
}

:9094 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / unsee:8080 {
            transparent
        }

    errors stderr
    tls off
}

:3000 {
    proxy / grafana:3000 {
            transparent
            websocket
        }

    errors stderr
    tls off
}

:9100 {
    proxy / node-exporter:9100 {
            transparent
            websocket
        }

    errors stderr
    tls off
}

:9115 {
    proxy / blackbox-exporter:9115 {
            transparent
            websocket
        }

    errors stderr
    tls off
}

